.navContainer{
    height: 80px;
    width: 100%;
}
.IconImg{
    width: 30px;
    height: 30px;
}
.links{
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}
.verdelogo{
    color: green;
    font-weight: bold;
    font-size: 20px;
}
.blancologo{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.rojologo{
    color: red;
    font-weight: bold;
    font-size: 20px;
}