.banner{
    background-image: url('../../../public/banner_pizza.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}
.banner h1{
    color: white;
    
}
.banner h4{
    font-weight: bold;
}
